/**
 * Stylesheet for weather module.
 */

.rm-navbar-max .rm-mobile {
    background-color: @myDarkBGColor;
}

.rm-max .rm-mobile {
    background-color: @myDarkBGColor;
}

.weather_day_div {
    border-bottom: 1px solid #ccc;
}

.weather_time_div:nth-child(even) {
    background-color: #dad9f2;
}

#mapid {
    height: 240px;
}
